In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("tabulka.csv")

In [3]:
df.head()

   0  1  2  3  4  5  6  7  8  9  10  11  12
0  5  8  3  9  1  4  6  7  2  8   9   1   5
1  7  2  9  4  6  8  1  5  3  7   4   6   9
2  1  6  4  7  5  9  2  8  6  1   3   5   8
3  9  4  7  2  8  1  5  3  9  6   8   2   5
4  3  7  5  6  9  2  8  4  1  5   7   9   3

In [26]:
radek = 2          # 0-index (první řádek)
sloupec = "7"      # název sloupce

# hodnota buňky
hodnota = df.loc[radek, sloupec]
print("Hodnota:", hodnota)

# funkce pro vybarvení jedné buňky
def zvyrazni_bunku(dataframe, r, s):
    def style_func(x):
        df_style = pd.DataFrame("", index=dataframe.index, columns=dataframe.columns)
        df_style.loc[r, s] = "background-color: #4CAF50; color: white"
        return df_style
    return dataframe.style.apply(style_func, axis=None)

# zobrazení tabulky se zelenou buňkou
zvyrazni_bunku(df, radek, sloupec)

Hodnota: 8

In [27]:
radek = 2          # 0-index (první řádek)
sloupec = "7"      # název sloupce

# hodnota buňky
hodnota = df.loc[radek, sloupec]
print("Hodnota:", hodnota)

# funkce pro vybarvení jedné buňky
def zvyrazni_bunku(dataframe, r, s):
    def style_func(x):
        df_style = pd.DataFrame("", index=dataframe.index, columns=dataframe.columns)
        df_style.loc[r, s] = "background-color: #4CAF50; color: white"
        return df_style
    return dataframe.style.apply(style_func, axis=None)

# zobrazení tabulky se zelenou buňkou
zvyrazni_bunku(df, radek, sloupec)

def vybarvi_3x3(data, radek, sloupec):
    styles = pd.DataFrame("", index=data.index, columns=data.columns)

    r = radek
    s = int(sloupec)

    for dr in [-1, 0, 1]:
        for ds in [-1, 0, 1]:
            rr = r + dr
            ss = s + ds

            if rr in data.index and str(ss) in data.columns:
                styles.loc[rr, str(ss)] = "background-color: lightgreen"

    return styles

df.style.apply(vybarvi_3x3, radek=radek, sloupec=sloupec, axis=None)

Hodnota: 8

In [28]:
def get_middle_cost(df, radek, sloupec):
    return df.loc[radek, sloupec]


cost = get_middle_cost(df, radek, sloupec)
print(cost)

8

In [ ]:
#funguje to kompletne